<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://blog.csdn.net/zk673820543" target="_blank" title="CSDN">zk的CSDN博客</a></li>
      <li><a href="https://github.com/LJaer" target="_blank" title="GitHub">LJaer的github</a></li>
    </ul>
</div>
